body {
    font-family: 'Weiss';
    margin: 0;
    padding: 0;
}

/* Navbar */
.logo{
    width: 80px;
    height: 40px;
    margin: 4px;
}

.navbar {
    background-color: #343a40 !important;
    padding: 1rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    margin: 0 10px;
    font-size: 1.1rem;
}

.nav-link.active {
    color: #48eec7 !important;
}

/* Contact Section */
.contact-section {
    padding: 80px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section .form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #3a7163;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #3c6153;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}